name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Install dependencies
        run: flutter pub get

      # Langkah 1: Generate Keys (PENTING: Ini yang bikin error kemarin karena kurang)
      - name: Generate Locale Keys
        run: dart run easy_localization:generate -S assets/translations -f keys -O lib/src/localization/generated -o locale_keys.g.dart

      # Langkah 2: Generate JSON
      - name: Generate Locale JSON
        run: dart run easy_localization:generate -S assets/translations -f json -O lib/src/localization/generated -o locale_json.g.dart

      # Langkah 3: Build Runner (Riverpod & Freezed)
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs

      # Langkah 4: Build Website (HTML Renderer agar aman)
      - name: Build Web
        run: flutter build web --release --web-renderer html --base-href "/portfolio_mochtar/"

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web