name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Install dependencies
        run: flutter pub get

      # --- INI YANG TADI KURANG ---
      # Menjalankan build_runner untuk Riverpod/Freezed
      - name: Run Build Runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Generate Translations
        run: dart run easy_localization:generate -S assets/translations -f json -O lib/src/localization/generated -o locale_json.g.dart

      - name: Build Web
        # Kita tulis manual nama repo-nya agar 100% akurat
        run: flutter build web --release --web-renderer html --base-href "/portfolio_mochtar/"

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web